body {  background-image: url("https://andyburnett.github.io/jamestest/assets/images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;}